/* This loads a font from Google Fonts (Fira Code) */
/* Fira Code is a monospace font (good for typing/code look) */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap");

/* Colour palette */
/* :root, are global variables */
:root {
    --background: #0a0a0a;
    --card: #111827;
    --primary: #00e5ff;
    --accent: #ff00c8;
    --correct: #39ff14;
    --error: #ff3131;
    --text: #f5f5f5;
    --muted-text: #9ca3af;
}

/* Basic page layout */
body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--background);
    color: var(--text);

    /* This centers the whole app horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hide screens that are not active */
.hidden {
    display: none;
}

/* Shared screen style */
/* Every <section> (menu/game/results) gets this style */
section {
  width: 90%;
  max-width: 800px;
  background-color: var(--card);
  padding: 40px;
  border-radius: 16px;
  text-align: center;
}

/* Headings */
h1 {
  color: var(--primary);
  font-size: 48px;
  margin-bottom: 10px;
}
/* Title for mode and difficulty */
h2 {
  color: var(--accent);
  margin-top: 25px;
}

/* Paragraph text */
/* Makes normal text softer and less bright*/
p {
    color: var(--muted-text);
}

/* Select boxes and buttons */
select,
button,
input {
  font-size: 16px;
  padding: 12px;
  border-radius: 8px;
  border: none;
  margin: 8px;
}

/* Buttons */
button {
  background-color: var(--primary);
  color: var(--background);
  font-weight: bold;
  cursor: pointer;
}

/* When you hover it becomes slightly transparent */
button:hover {
    opacity: 0.85;
}

/* Typing text display */
#text-display {
  font-family: "Fira Code", monospace;
  background-color: #020617;
  padding: 24px;
  border-radius: 12px;
  margin: 24px 0;
  line-height: 1.8;
  font-size: 20px;
}

/* Typing input */
#typing-input {
    width: 80%;
    max-width: 500px;
}

/* Game stats */
#game-screen div:first-of-type {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* Base style for every character */
.character {
  padding: 2px;
  border-radius: 4px;
}

/* Correctly typed characters become green */
.correct {
  color: var(--correct);
}

/* Incorrectly typed characters become red */
.incorrect {
  color: var(--error);
}

/* Current typing position */
.current {
  background-color: var(--accent);
  color: var(--background);
}